.right {
    background-image: linear-gradient(#252650, #000000);
}

.textField input:focus, textarea:focus, select:focus {
    outline:none;
}

@media (max-width : 576px) {
    .container {
        flex-direction: column-reverse;
        background-color: pink;
    }
    .right {
        background-image: linear-gradient(#252650, #000000);
    }
}
